**/__pycache__/
*.py[cod]
checkpoints/viral-7b
llava.egg-info
wandb
playground/*

logs/*

llava_v1_5_mix665k.json

checkpoints/

__pycache__/
outputs/analysis/
outputs/features/
outputs/features-simple/